@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@using TdA25_Error_Makers.Classes.Objects
@{
    var loggedAccount = Utilities.GetLoggedAccountFromContextOrNull();
}
<footer class="footer-3AEC085F-28D0-4E88-B74C-1ED2EB5A13E1">
    <link rel="stylesheet" href="/css/components/footer.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")" />

    <div class="divider"></div>
    <div class="content">
        <div class="Header-Main-Section">
                <p class="text">Think different Academy</p>
            <div class="Icons">
                <div class="x"></div>
                <div class="o"></div>
                <div class="x"></div>
            </div>
        </div>
        
        <div class="content-flex">
            <div class="navigation">
                <p class="upper">Navigace</p>
                <p>
                    <a href="/" class="@Utilities.SetActiveClass("/")">Domů</a>
                </p>
                <p>
                    <a href="/leaderboard" class="@Utilities.SetActiveClass("/leaderboard")">Žebříčky</a>
                </p>
                <p>
                    <a href="/account" class="@Utilities.SetActiveClass("/account")">Účet</a>
                </p>
                <p>
                    <a href="/play" class="@Utilities.SetActiveClass("/play")">Hrát</a>
                </p>
            </div>

            <div class="other">
                <p class="upper">Ostatní</p>
                <p>
                    <a href="/privacy/gdpr" class="@Utilities.SetActiveClass("/privacy/gdpr")">GDPR</a>
                </p>
                <p>
                    <a href="/privacy/cookies" class="@Utilities.SetActiveClass("/privacy/cookies")">Cookies</a>
                </p>
            </div>

            <div class="team">
                <p class="upper">Tým</p>
                <p>
                    Fullstack:&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://stanislavskudrna.cz" target="_blank" style="--team-image: url(/images/team/standa.png)"> Stanislav Škudrna</a>
                </p>
                <p>
                    Frontend:&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/dgkuba657" target="_blank" style="--team-image: url(/images/team/kuba.png)"> Jakub Funk</a>
                </p>
                <p>
                    Frontend:&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://github.com/wedralda" target="_blank" style="--team-image: url(/images/team/paja.png)"> Pavel Andrle</a>
                </p>
            </div>

            @if (loggedAccount is { AccountType: Account.TypeOfAccount.DEVELOPER }) {
                <div class="admintools">
                    <p class="upper">Dev Info</p>
                    <p>Uptime aplikace: @($"{Program.AppUptime.Days:D2}:{Program.AppUptime.Hours:D2}:{Program.AppUptime.Minutes:D2}:{Program.AppUptime.Seconds:D2}")</p>
                    <p>MySQL Server: @(Database.IsUsingFallbackServer ? "Fallback" : "Externí")</p>
                    <button onclick="
                        this.disabled = true;
                        fetch('/api/app/restartmysql', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(() => {
                            window.location.reload();
                        }).catch(() => {
                            alert('Nepodařilo se restartovat MySQL server.');
                        });
                    ">Restartovat MySQL</button>
                </div>
            }

            <div class="login">
                @if(loggedAccount != null) {
                    <p class="upper">Přihlášení</p>
                    <div class="UserInformation">
                        <span class="UserIcon" onclick="location.href='/account'">
                            @loggedAccount.DisplayName[0].ToString().ToUpper()
                        </span>
                        <div class="Texts">
                            <div class="top">
                                <p> Přihlášen jako</p>
                            </div>
                            <div class="bot">
                                <p> @loggedAccount.DisplayName</p>
                            </div>
                        </div>
                    </div>
                    <a class="logout" href="/logout">Odhlásit se</a>
                } else {
                    <p class="upper">Přihlášení</p>
                    <P>
                        <a href="/login">Přihlásit se</a>
                    </P>
                }
            </div>
        </div>

        <div class="copyright">
            <div class="copyright-tda">
                <span>©</span>
                Think different Academy
                <span>2024-2025</span>
            </div>
            <div class="copyright-team">
                Vytvořeno týmem
                Error Makers
                ze školy
                <a href="https://educhem.cz" target="_blank">Střední škola EDUCHEM, a.s.</a>
                pro
                <a href="https://tourde.app/" target="_blank">Tour de App</a>.
            </div>
        </div>
    </div>
</footer>