@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@{
    string path = HCS.Current.Request.Path;
    var loggedAccount = Utilities.GetLoggedAccountFromContextOrNull();
}

<transition name="fade">
    <div class="ExpandedMenu" v-if="menuExpanded" v-cloak>
        <div class="Close-Icon" v-on:click="menuExpanded = false"></div>
        <div class="Header-Logo-Small"></div>
        <div class="Header-Menu-Small">
            <a href="/">Domů</a>
            @*<a href="/games">Hry</a>*@
            <a href="/leaderboard">Žebříčky</a>
            <a href="/account">Účet</a>
            @* <a href="/play">Hrát</a> *@
            <button class="newgame button-primary" onclick="location.href='/play'">Hrát</button>
            @*<a href="/multiplayer">Online</a>*@
            @*@if (!path.StartsWith("/game/")) {
                <button class="newgame button-primary" onclick="location.href='/play'">Hrát</button>
            } else {
                <button class="newgame button-primary" v-cloak v-on:click="createNewGame()">Nová hra</button>
            }*@
            <div class="line"></div>
            <div class="Theme-Flex">
                <div class="changetheme" onclick="
                    import('/scripts/functions.js').then(module => {
                    module.toggleWebTheme();
                    });
                ">
                </div>
                <p onclick="
                    import('/scripts/functions.js').then(module => {
                    module.toggleWebTheme();
                    });
                ">Změnit vzhled</p> 
            </div>
        </div> 
        </div>
        
    
</transition>

<header class="header-5F015D44-0984-4A50-B52B-5319AE57C19C">
    <link rel="stylesheet" href="/css/components/header.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")" />

    <div class="flex">
        <div class="Header-Logo" onclick="location.href='/'"></div>

        <div class="Header-Menu">
            <a href="/" class="@Utilities.SetActiveClass("/")">Domů</a>
            @*<a href="/games" class="@Utilities.SetActiveClass("/games")">Úlohy</a>*@
            <a href="/leaderboard" class="@Utilities.SetActiveClass("/leaderboard")">Žebříčky</a>
            <a href="/account" class="@Utilities.SetActiveClass("/account")">Účet</a>
            <a href="/play" class="@Utilities.SetActiveClass("/play")">Hrát</a>
            @*<a href="/multiplayer">Online</a>*@
        </div>

        <div class="Login">
            
            @if (loggedAccount != null) {
                <div class="User">
                    <span class="UserIcon" onclick="location.href='/account'">
                        @loggedAccount.DisplayName[0].ToString().ToUpper()
                    </span>
                    <div class="Texts">
                        <div class="top">
                            <p> Přihlášen jako</p>
                        </div>
                        <div class="bot">
                            <p> @loggedAccount.DisplayName</p>
                        </div>
                    </div>
                </div>
            } else {
                <a href="/login" class="button-primary">Přihlásit se</a>
            }
            
            
            <div class="changetheme" onclick="
                import('/scripts/functions.js').then(module => {
                    module.toggleWebTheme();
                });
            "></div>

            @*@if (!path.StartsWith("/game/")) {
                <a class="newgame button-primary" href="/play">Hrát</a>
            } else {
                <a class="newgame button-primary" v-cloak v-on:click="createNewGame()">Nová hra</a>
            }*@

        </div>
    </div>

    <!-- Menu pro mobily a tablety -->
    <div class="smallDevice" v-on:click="menuExpanded = true"></div>
    <div class="Header-Logo-Small" onclick="location.href='/'"></div>

</header>
