@using TdA25_Error_Makers
@using TdA25_Error_Makers.Classes
@using TdA25_Error_Makers.Classes.Objects
@{
    var webTheme = Utilities.WebTheme.Get();
    var authType = ViewBag.AuthType ?? "login";
    var loggedAccount = Utilities.GetLoggedAccountFromContextOrNull();


    // části stránky
    var background = Html.PartialAsync("/Views/Components/BlurBackground.cshtml");
    var header = Html.PartialAsync("/Views/Components/Header.cshtml");
    var footer = Html.PartialAsync("/Views/Components/Footer.cshtml");
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account • Think Different Academy</title>
    <link rel="icon" href="/favicon.ico">

    @{ // Vue.js definice
        if (Program.DEVELOPMENT_MODE) {
            <script src="/libs/vue_dev.js"></script>
        } else {
            <script src="/libs/vue.js"></script>
        }
    }

    <link rel="stylesheet" href="/libs/purecss.css">
    <link rel="stylesheet" href="/css/mainstyles.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link rel="stylesheet" href="/css/auth.css?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")">
    <link id="webtheme-link" rel="stylesheet" href="@Utilities.WebTheme.GetCSSFile()">
    <link rel="stylesheet" href="css/account.css">

    @*  scripty pro komponenty *@
    <script src="/scripts/components/header.js"></script>
</head>
<body id="ACCOUNT-PAGE"  class="header-top-light">
<div id="app">
    @* @await background *@
    @await header


    <div class="sections">
        <section class="top">
            <div class="wallpaper"></div>

            <div class="texts">

            </div>
        </section>

        <section class="mainsection">
            <div class="account">
                <div class="account-main">
                    
                    <div class="left">
                        <div class="account-elo">
                            <p class="text">ELO Rating:</p>
                            <p class="elo">@loggedAccount?.Elo</p>
                        </div>
                        
                        <div class="win-loss-ratio">
                            <p class="text">Win/Loss Ratio:</p>
                            <p class="ratio">
                                @((loggedAccount.Losses > 0) ? ((double)loggedAccount.Wins / loggedAccount.Losses).ToString("0.00") : loggedAccount.Wins.ToString("0.00"))
                            </p>
                        </div>
                    </div>

                    <div class="account-info">
                        <div class="avatar">
                            @loggedAccount?.DisplayName[0].ToString().ToUpper()
                        </div>
                        <h1>@loggedAccount?.DisplayName</h1>
                        <p>@loggedAccount?.Username</p>
                    </div>

                    <div class="right">
                        <div class="account-createdat">
                            <p class="text">Vytvořen:</p>
                            <p class="time">@loggedAccount?.CreatedAt.ToString("dd.MM.yyyy")</p>
                        </div>
                        
                        <div class="account-last-active">
                            <p class="text">Poslední aktivita:</p>
                            <p class="time">@(loggedAccount?.LastActive != null ? Utilities.HowLongSinceLastActivity(loggedAccount.LastActive??DateTime.Now) : "Neznámý")</p>
                        </div>

                    </div>




                </div>

                <div class="account-bottom">
                    <div class="panel">
                        <div class="history-tab" v-on:click="currentTab = 'GameHistory'">Historie Her</div>
                        @if (loggedAccount?.AccountType is Account.TypeOfAccount.ADMIN or Account.TypeOfAccount.DEVELOPER) {
                            <div class="admin-tab" v-on:click="currentTab = 'AdminPanel'">Admin panel</div>
                        }
                        <div class="settings-tab" v-on:click="currentTab = 'Settings'">Nastavení</div>
                    </div>
                    <div class="divider"></div>
                    
                    <div class="account-game-history" v-if="currentTab === 'GameHistory'">
                        <div class="game" v-for="game in gameHistory">
                            <div class="game-info">
                                <div class="game-info-top">
                                    <div class="game-between">
                                        <p class="player">{{ game.player_o_name }}</p>
                                        <p class="player">{{ game.player_x_name }}</p>
                                    </div>
                                    <p class="game-result">
                                        {{getGameResult(game)}}
                                    </p>
                                    <p class="game-played-on">{{ new Date(game.created_at).toLocaleDateString() }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    @if (loggedAccount?.AccountType is Account.TypeOfAccount.ADMIN or Account.TypeOfAccount.DEVELOPER) {
                        <div class="admin-panel" v-if="currentTab === 'AdminPanel'">
                            <div class="admin-panel-top">
                                <p class="users">Users</p>
                                <input v-model="searchUserInput" v-on:keyup="filterUsers()" type="text" class="search" placeholder="Vyhledat uživatele">
                            </div>
                            
                            <table class="admin-panel-users">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Display Name</th>
                                    <th>Elo</th>
                                    <th>Created At</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="user in usersFiltered">
                                    <td>{{user.username}}</td>
                                    <td>{{user.display_name}}</td>
                                    <td>{{user.elo}}</td>
                                    <td>{{new Date(user.created_at).toLocaleDateString()}}</td>
                                    <td>
                                        <button class="button-primary-col-sec" v-if="user.is_banned === false" v-on:click="banUser(user)">BAN</button>
                                        <button class="button-primary" v-if="user.is_banned === true" v-on:click="unbanUser(user)">UNBAN</button>
                                    </td>
                                </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    }
                    
                    
                    <div class="account-settings" v-if="currentTab === 'Settings'">
                        <p class="text">Nastavení účtu</p>

                        <div class="account-buttons">
                        
                            <form v-on:submit.prevent="changeCredentialsFormSubmit($event)">
                                <input type="text" name="displayName" value="@loggedAccount.DisplayName" placeholder="Display Name" />
                                <input type="text" name="username" value="@loggedAccount.Username" placeholder="Username" />
                                <input type="text" name="email" value="@loggedAccount.Email" placeholder="Email" />
                                <input type="password" name="oldPassword" placeholder="Staré Heslo" />
                                <input type="password" name="newPassword" placeholder="Nové Heslo" />

                                <input type="submit"/>
                            </form>
                            
                            <button class="button-primary-col-sec" v-on:click="deleteaccount()">Smazat účet</button>
                            <a href="/logout" class="button-primary">Odhlásit se</a>
                        </div>
                        
                        
                    </div>
                    
                </div>
            </div>
        </section>
    </div>


    @await footer
</div>
</body>
<script type="module">
    import * as f from "/scripts/functions.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";
    import { vue } from "/scripts/account.js?ver=@Program.ENV.GetValueOrNull("CACHE_VERSION")";

    window.addCookie = f.addCookie;
    //console.warn(vue);
    if (window.history.replaceState) window.history.replaceState( null, null, window.location.href );
</script>
</html>